# dependencies
node_modules/

# build output
dist/

# env files
.env
.env.*.local
.env.example

# logs
*.log
npm-debug.log*

# testing / coverage
coverage/

# OS files
.DS_Store

# editor
.vscode/
.idea/
